body {
  background: url("../_img/backgroundH.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-size: 100%; }

p, h5 {
  font-family: 'PT Sans', sans-serif; }

.none {
  display: none; }

/*head nav*/
.headBoss {
  width: 90%;
  margin-left: 5%; }

#head-nav {
  padding-top: 1.56em; }
  #head-nav .logo {
    margin-right: 3.75em; }
    #head-nav .logo img {
      width: 8.125em; }
  #head-nav .menu {
    padding-top: 10px; }
    #head-nav .menu li {
      float: left;
      margin-left: 0.625em; }
      #head-nav .menu li a {
        color: #FFFFFF;
        padding: 10px 5px;
        text-decoration: none; }
        #head-nav .menu li a:hover {
          color: #1AC6FF; }
      #head-nav .menu li .last:hover {
        color: #1AC6FF;
        background: #272727;
        border-top: 3px solid #1AC6FF; }
      #head-nav .menu li .active {
        color: #1AC6FF; }
  #head-nav .login {
    padding-top: 10px; }
    #head-nav .login li {
      float: left;
      margin-left: 0.625em; }
      #head-nav .login li a {
        color: #FFFFFF;
        text-decoration: none;
        color: #1AC6FF;
        padding: 0.625em 0.3125em;
        border: 1px solid #1AC6FF; }
        #head-nav .login li a:first-child {
          border: none; }

/*launch*/
#launch {
  padding: 12.5em 0; }
  #launch h1 {
    font-size: 3em;
    margin: 1.25em 0 0.9375em;
    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase; }
  #launch h5 {
    margin-bottom: 2.06em;
    font-size: 1.5em;
    color: #FFFFFF; }
  #launch .btn-sart {
    padding: 0.9375em 4.375em;
    background: #1AC6FF;
    color: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase; }
    #launch .btn-sart span {
      margin-right: 0.3125em; }
  #launch .btn-tour {
    padding: 0.9375em 2.1875em;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 0.9375em; }
    #launch .btn-tour:hover {
      background: #FFFFFF;
      color: #1AC6FF; }

/*first logo*/
#firstLogo {
  height: 7.875em;
  background: #F0F0F0;
  padding-top: 2.1875em; }
  #firstLogo img {
    margin-right: 3.75em; }

/*startup*/
#startup {
  padding-bottom: 1.25em;
  padding-top: 5em;
  border-bottom: 1px solid #E9E9E9;
  background: #FFFFFF; }
  #startup .tabs ul li {
    display: inline-block;
    padding-bottom: 3.125em; }
    #startup .tabs ul li a {
      text-decoration: none;
      font-size: 0.8125em;
      padding: 1.25em 3.75em; }
  #startup .tabs #first .startImg1 img {
    width: 100%; }
  #startup .tabs #first .startText1 {
    margin-top: 5em; }
    #startup .tabs #first .startText1 h1 {
      font-size: 2.125em;
      margin-bottom: 1.185em; }
    #startup .tabs #first .startText1 h5 {
      margin-bottom: 1.185em; }
    #startup .tabs #first .startText1 p {
      line-height: 1.5625em; }
  #startup .tabs #first button {
    padding: 0.8125em 1.25em;
    border: 1px solid #1AC6FF;
    border-radius: 0.3125em;
    color: #1AC6FF;
    background: #FFFFFF;
    margin-top: 3.75em;
    margin-right: 0.625em; }
    #startup .tabs #first button:last-child {
      margin-right: none; }
    #startup .tabs #first button:hover {
      color: #FFFFFF;
      background: #1AC6FF; }

/*texnology*/
#texnology {
  background: #FFFFFF;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #E9E9E9; }
  #texnology .i-mack {
    padding-top: 1.185em; }
    #texnology .i-mack .texText {
      padding-top: 3.125em; }
      #texnology .i-mack .texText h1 {
        font-size: 2.125em;
        margin-bottom: 1.185em; }
      #texnology .i-mack .texText h5 {
        margin-bottom: 1.185em; }
      #texnology .i-mack .texText p {
        line-height: 1.5625em; }
    #texnology .i-mack .texImg img {
      width: 100%; }

/*helmet*/
#helmet {
  background: #FFFFFF;
  padding-bottom: 1.25em; }
  #helmet .helm {
    padding-top: 1.185em; }
    #helmet .helm .helmText {
      padding-top: 3.125em; }
      #helmet .helm .helmText h1 {
        font-size: 2.125em;
        margin-bottom: 1.185em; }
      #helmet .helm .helmText h5 {
        margin-bottom: 1.185em; }
      #helmet .helm .helmText p {
        line-height: 1.5625em; }
    #helmet .helm .helmImg img {
      width: 100%; }

/*mackbook*/
#mackbook {
  background: #F0F0F0;
  height: 560px; }
  #mackbook .mack ul {
    margin-top: 8.75em;
    position: absolute;
    z-index: 1; }
    #mackbook .mack ul li {
      width: 346px;
      height: 136px;
      padding: 0.9375em 2.5em; }
      #mackbook .mack ul li:hover {
        background: #1AC6FF; }
      #mackbook .mack ul li a {
        width: 346px;
        height: 136px;
        text-decoration: none;
        padding: 1.5625em 28px; }
        #mackbook .mack ul li a div h1 {
          color: #1AC6FF; }
        #mackbook .mack ul li a div p {
          line-height: 2.1; }
  #mackbook .mack-tab {
    position: absolute;
    right: 72px;
    padding: 0;
    border: none;
    z-index: 2; }
    #mackbook .mack-tab .mack-pane {
      display: none;
      padding: none;
      margin-top: 3.125em; }
    #mackbook .mack-tab .activ {
      display: block; }

/*features*/
#features {
  background: #FFFFFF;
  padding-top: 4.375em;
  padding-bottom: 1.185em; }
  #features .featBoss i {
    font-size: 3.3em;
    color: #1AC6FF; }
  #features .featBoss h5 {
    margin: 1.185em 0;
    font-size: 16px;
    font-weight: 400; }
  #features .featBoss p {
    font-size: 0.9375em;
    color: #8d8d8d;
    margin: 0 0 0.625em;
    line-height: 1.5625em;
    padding: 0 0.625em; }
  #features .feat1 {
    margin-bottom: 4.375em; }

/*liveup*/
#liveUp {
  height: 144px; }
  #liveUp .liveText {
    margin-top: 2.5em; }
    #liveUp .liveText h2 {
      font-size: 45px;
      color: #FFFFFF;
      font-weight: 300; }
    #liveUp .liveText p {
      color: #FFFFFF;
      line-height: 1.5625em; }
  #liveUp input {
    height: 45px;
    float: left;
    margin-top: 3.125em; }
    #liveUp input:first-child {
      width: 180px;
      margin-right: 0.625em;
      border-left: 3px solid #1AC6FF;
      padding-left: 0.625em; }
    #liveUp input:nth-child(2) {
      width: 16.875em;
      margin-right: 0.625em;
      border-left: 3px solid #1AC6FF;
      padding-left: 0.625em; }
    #liveUp input:last-child {
      width: 144px;
      height: 44px;
      background: none;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      outline-style: none; }
      #liveUp input:last-child:hover {
        background: #FFFFFF;
        color: #1AC6FF; }

/*packages*/
#packages {
  background: #FFFFFF;
  height: 800px; }
  #packages .packText h1 {
    margin: 1.25em 0 0.9375em;
    font-weight: 300;
    line-height: 1.1;
    font-size: 45px; }
    #packages .packText h1 span {
      color: #1AC6FF; }
  #packages .packTable .inPT {
    height: 605px;
    background: #F7F7F7; }
    #packages .packTable .inPT h1 {
      padding: 1.25em 0 18px;
      font-size: 1.5625em;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1; }
    #packages .packTable .inPT .price {
      background: rgba(171, 172, 179, 0.1); }
      #packages .packTable .inPT .price span {
        font-size: 115px;
        font-weight: 300;
        line-height: 125px; }
    #packages .packTable .inPT .domain {
      padding: 1.185em 15% 3.125em; }
      #packages .packTable .inPT .domain ul li {
        height: 56px;
        padding: 0.9375em 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5625em;
        color: #4c4c4c;
        border-bottom: 1px solid #dadada; }
    #packages .packTable .inPT a {
      min-width: 144px;
      max-width: 100%;
      padding: 0.9375em 1.5625em;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid; }

/*our*/
#our {
  background: #FFFFFF; }
  #our .ourText {
    margin: 1.185em 0 5em 0; }
    #our .ourText h1 {
      font-size: 45px;
      margin: 1.25em 0 0.9375em;
      font-weight: 300;
      line-height: 1.1; }
      #our .ourText h1 span {
        color: #1AC6FF; }
    #our .ourText p {
      margin-bottom: 1.185em;
      line-height: 1.5625em; }
  #our .ourLogo {
    padding: 0px 135px; }

/*clientSay*/
#clientSay {
  padding-top: 3.125em; }
  #clientSay h1 {
    margin: 1.25em 0 2.5em;
    font-weight: 300;
    font-size: 45px;
    color: #FFFFFF; }
    #clientSay h1 span {
      color: #1AC6FF; }
  #clientSay .blockquote ul li div {
    padding: 0px 130px; }
    #clientSay .blockquote ul li div p {
      position: relative;
      margin: 0 1px;
      padding: 0 100px;
      font-size: 17px;
      font-weight: 300;
      text-align: center;
      line-height: 1.6;
      border: none;
      color: white; }
    #clientSay .blockquote ul li div i {
      font-size: 2em;
      color: #1AC6FF; }

/*whosays*/
#whoSays {
  background: #FFFFFF; }
  #whoSays .whoBoss {
    margin-top: 0.9375em;
    border-bottom: 1px solid #e9e9e9;
    height: 120px; }
    #whoSays .whoBoss .whoTab img {
      width: 4.375em;
      border-radius: 50%;
      display: inline-block; }
    #whoSays .whoBoss .whoTab .whoText {
      float: right;
      margin-top: 1.25em; }

/*behind*/
#behind {
  background: #FFFFFF;
  min-height: 3.125em;
  padding: 1.185em 0; }
  #behind .behindText h1 {
    margin: 1.25em 0 0.9375em;
    font-weight: 300;
    font-size: 45px; }
  #behind .behindText p {
    margin: 0 0 0.625em;
    line-height: 1.5625em; }
    #behind .behindText p:first-child {
      margin-bottom: 1.185em; }

.bBox h4 {
  margin: 15px 0 5px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  color: #1AC6FF; }

/*launch*/
#launchYS {
  height: 8.75em;
  background: #1AC6FF;
  color: #FFFFFF;
  padding-top: 2.5em; }
  #launchYS .launchYStext i {
    font-size: 3em;
    margin-right: 1.25em; }
  #launchYS .launchYStext h2 {
    font-size: 45px; }
  #launchYS .launchYStbtn a {
    width: 185px;
    height: 3.125em;
    color: #FFFFFF;
    border-radius: 3px;
    text-align: center;
    padding-top: 10%;
    text-decoration: none;
    border: 1px solid #FFFFFF; }
    #launchYS .launchYStbtn a:hover {
      background: #FFFFFF;
      color: #1AC6FF; }

/*footer*/
#footer {
  padding-top: 4.6875em;
  color: #FFFFFF; }
  #footer i {
    color: #1AC6FF;
    padding-right: 10px; }
  #footer .ltext img {
    margin-bottom: 1.25em; }
  #footer .ltext p {
    font-size: 0.9375em;
    line-height: 1.6;
    margin: 0 0 0.625em;
    text-align: left; }
  #footer .socialN h3 {
    margin-bottom: 1.5625em;
    font-weight: 500; }
  #footer .socialN ul li {
    padding-bottom: 1.25em; }
    #footer .socialN ul li a i {
      font-size: 3.5em; }
  #footer .ourC {
    text-align: left; }
    #footer .ourC h3 {
      margin-bottom: 1.5625em;
      font-size: 1.25em;
      font-weight: 500;
      text-align: center; }
    #footer .ourC ul li {
      margin-bottom: 0.9375em;
      margin-right: 0.625em;
      padding-left: 1.185em;
      font-size: 0.9375em;
      line-height: 1.6; }
  #footer p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    opacity: 0.5; }

.footBoss {
  padding-bottom: 65px; }

/*# sourceMappingURL=style.css.map */
