$blueBack:#1AC6FF;
$whiteBack:#FFFFFF;

@mixin textT {
	text-transform:uppercase;
}

body{
	background:url('../_img/backgroundH.jpg');
	background-size:cover;
	background-attachment: fixed;
	font-size:100%;
}
p,h5{
	font-family: 'PT Sans', sans-serif;
}

.none{
	display:none;
}

/*head nav*/
.headBoss{
	width:90%;
	margin-left: 5%;

}
#head-nav{
	padding-top:1.56em;
	
	.logo{
		margin-right:3.75em;
		img{
			width:8.125em;
		}
	}
	.menu{
		padding-top: 10px;
		li{
			float:left;
			margin-left:0.625em;
			
			a{

				color:$whiteBack;
				padding:10px 5px;
				text-decoration:none;

				&:hover{
					color:$blueBack;
				}
			}
			.last{
				&:hover{
					color:$blueBack;
					background:#272727;
					border-top: 3px solid $blueBack;
					}
			}
			.active{
				color:$blueBack;
			}
			
		}
	}
	.login{
		padding-top: 10px;
		li{
			float:left;
			margin-left:0.625em;

			a{
				color:$whiteBack;
				text-decoration:none;
				color:#1AC6FF;
				padding:0.625em 0.3125em;
				border:1px solid #1AC6FF;

				&:first-child{
				border:none;
				}

			}
		}
	}
}
/*launch*/
#launch{
	padding:12.5em 0;

	h1{
		font-size:3em;
	    margin: 1.25em 0 0.9375em;
    	font-weight: 300;
    	color:$whiteBack;
		@include textT;
	}
	h5{
	    margin-bottom: 2.06em;
        font-size: 1.5em;
        color:$whiteBack;
	}
	.btn-sart{
	    padding:0.9375em 4.375em;
	    background:$blueBack;
	    color:$whiteBack;
	    border-radius:3px;
	    text-decoration:none;
	    @include textT;

	    span{
			margin-right:0.3125em;
	    }
	}
	.btn-tour{
		padding:0.9375em 2.1875em;
		border:1px solid $whiteBack;
		color:$whiteBack;
		@include textT;
		text-decoration:none;
		border-radius:3px;
		margin-left:0.9375em ;

		&:hover{
			background:$whiteBack;
			color:$blueBack;
		}

	}
}
/*first logo*/
#firstLogo{
	height:7.875em;
	background:#F0F0F0;
	padding-top:2.1875em;

	img{
		margin-right:3.75em;
	}
}
/*startup*/
#startup{
	padding-bottom:1.25em;
	padding-top:5em;
	border-bottom:1px solid #E9E9E9;
	background:$whiteBack;

	.tabs{

		ul{

			li{
				display:inline-block;
				padding-bottom:3.125em;

				a{
					text-decoration:none;
					font-size:0.8125em;
					padding:1.25em 3.75em;

				}
			}
		}
		#first{

			.startImg1{
				img{
					width:100%;
				}
			}

			.startText1{
				margin-top:5em;
				h1{
					font-size:2.125em;
					margin-bottom:1.185em;
				}
				h5{
					margin-bottom:1.185em;
				}
				p{
					line-height:1.5625em;
				}
			}
			button{
				padding:0.8125em 1.25em;
				border:1px solid $blueBack;
				border-radius:0.3125em;
				color:$blueBack;
				background:$whiteBack;
				margin-top:3.75em;
				margin-right:0.625em;

				&:last-child{
					margin-right:none;
				}

				&:hover{
					color:$whiteBack;
					background:$blueBack;
				}
			}
		}
	}
}
/*texnology*/
#texnology{
	background:$whiteBack;
	padding-bottom:1.25em;
	border-bottom:1px solid #E9E9E9;

	.i-mack{
		padding-top:1.185em;
		.texText{
			padding-top:3.125em;
			h1{
				font-size:2.125em;
				margin-bottom:1.185em;
			}
			h5{
				margin-bottom:1.185em;
			}
			p{
				line-height:1.5625em;
			}
		}
		.texImg{
			img{
				width:100%;
			}
		}
	}
}
/*helmet*/
#helmet{
	background:$whiteBack;
	padding-bottom:1.25em;

	.helm{
		padding-top:1.185em;
		.helmText{
			padding-top:3.125em;
			h1{
				font-size:2.125em;
				margin-bottom:1.185em;
			}
			h5{
				margin-bottom:1.185em;
			}
			p{
				line-height:1.5625em;
			}
		}
		.helmImg{
			img{
				width:100%;
			}
		}
	}
}
/*mackbook*/
#mackbook{
	background:#F0F0F0;
	height:560px;

	.mack{
		
		ul{
			margin-top:8.75em;
			position: absolute;
			z-index:1;

			li{
				width:346px;
				height:136px;
			    padding:0.9375em 2.5em ;

				    &:hover{
				    	background:$blueBack;
				    }


				a{
					width: 346px;
				    height:136px;			    
				    text-decoration:none;				   
				    padding: 1.5625em 28px;

					div{

						h1{
							color:$blueBack;
						}
						p{
							line-height:2.1;
						}
					}
				}
			}
		}
	}
	.mack-tab{
		position: absolute;
	    right:72px;
	    padding: 0;
	    border: none;
	    z-index: 2;
		.mack-pane{
			display:none;
			padding:none;
			margin-top:3.125em;

		}
		.activ{
				display:block;
		}
	}
}
/*features*/
#features{
	background:#FFFFFF;
	padding-top:4.375em;
	padding-bottom:1.185em;

	.featBoss{
		
		i{
		    font-size: 3.3em;
		    color:$blueBack;
		}
		h5{
			margin:1.185em 0;
			font-size:16px;
			font-weight:400;
		}
		p{
			font-size: 0.9375em;
    		color: #8d8d8d;
    		margin: 0 0 0.625em;
   			line-height: 1.5625em;
   			padding:0 0.625em;
		}
	}
	.feat1{
		margin-bottom:4.375em;
	}
}
/*liveup*/
#liveUp{
	height:144px;


	.liveText{
		margin-top:2.5em;
		h2{
			font-size:45px;
			color:$whiteBack;
			font-weight:300;
		}
		p{
			color:$whiteBack;
			line-height:1.5625em;
		}
	}
	input{
		height:45px;
		float:left;
		margin-top:3.125em;

		&:first-child{
			width:180px;
			margin-right:0.625em;
			border-left:3px solid $blueBack;
			padding-left:0.625em;
		}

		&:nth-child(2){
			width:16.875em;
			margin-right:0.625em;
			border-left:3px solid $blueBack;
			padding-left:0.625em;
		}

		&:last-child{
			width:144px;
			height:44px;
			background:none;
			color:$whiteBack;
			border:1px solid $whiteBack;
			border-radius:3px;
			outline-style:none;

			&:hover{
				background:$whiteBack;
				color:$blueBack;
			}
		}
	}
}
/*packages*/
#packages{
	background:$whiteBack;
	height:800px;

	.packText{
	   h1{
	   	 margin: 1.25em 0 0.9375em;
		font-weight: 300;
		line-height: 1.1;
		font-size: 45px;

		span{
			color:$blueBack;
		}
	   }
	}
	.packTable{

		.inPT{
			height:605px;
			background:#F7F7F7;

			h1{
			    padding: 1.25em 0 18px;
		        font-size: 1.5625em;
			    font-weight: 300;
			    text-transform: uppercase;
			    line-height: 1;
			}
			.price{
				background:rgba(171, 172, 179, 0.1);
				span{
				    font-size: 115px;
    				font-weight: 300;
    				line-height: 125px;
				}
			}
			.domain{
			    padding: 1.185em 15% 3.125em;
				ul{
					li{
					    height: 56px;
					    padding: 0.9375em 0;
					    font-size: 16px;
					    font-weight: 500;
					    line-height: 1.5625em;
					    color: #4c4c4c;
					    border-bottom: 1px solid #dadada;
					}
				}
			}
			a{
			    min-width: 144px;
			    max-width: 100%;
			    padding: 0.9375em 1.5625em;
		        font-size: 14px;
    			font-weight: 500;
    			border:1px solid;
			}
		}
		
	}
}
/*our*/
#our{
	background:$whiteBack;
	.ourText{
	    margin: 1.185em 0 5em 0;

	    h1{
	    	font-size: 45px;
    	    margin: 1.25em 0 0.9375em;
    		font-weight: 300;
    		line-height:1.1;

    		span{
    			color:$blueBack;
    		}
	    }
	    p{
	    	margin-bottom: 1.185em;
    	    line-height: 1.5625em;
	    }
	}
	.ourLogo{
	    padding: 0px 135px;
	}
}
/*clientSay*/
#clientSay{
	padding-top:3.125em;
	h1{
	    margin: 1.25em 0 2.5em;
   	 	font-weight: 300;
   	 	font-size:45px;
   	 	color:$whiteBack;

   	 	span{
   	 		color:$blueBack;
   	 	}
	}
	.blockquote{
		ul{

			li{
				div{
				    padding: 0px 130px;
					p{
				    position: relative;
				    margin: 0 1px;
				    //display: block;
				    padding: 0 100px;
				    font-size: 17px;
				    font-weight: 300;
				    text-align: center;
				    line-height: 1.6;
				    border: none;
				    color:white;
					}
					i{
						font-size:2em;
						color:$blueBack;
					}
				}
			}
		}
	}

}
/*whosays*/
#whoSays{
	background:$whiteBack;
	.whoBoss{
	    margin-top: 0.9375em;
	    border-bottom: 1px solid #e9e9e9;
	    height: 120px;
		.whoTab{

			img{
				width:4.375em;
				border-radius:50%;
				display:inline-block;
			}
			.whoText{
				float:right;
				margin-top: 1.25em;
			}
		}
	}
	
}
/*behind*/
#behind{
	background:$whiteBack;
    min-height: 3.125em;
    padding: 1.185em 0;

    .behindText{
    	h1{
		    margin: 1.25em 0 0.9375em ;
    		font-weight: 300;
    		font-size:45px;
    	}
    	p{
		    margin: 0 0 0.625em;
    		line-height: 1.5625em;

    		&:first-child{
			    margin-bottom: 1.185em;
    		}
    		&:last-child{
    			
    		}
    	}
    }
 }
 .bBox{
 	h4{
 		margin: 15px 0 5px;
	    font-size: 15px;
	    font-weight: 700;
	    text-transform: uppercase;
	    line-height: 18px;
	    color:$blueBack;
 		p{

 		}
 	}
 }
 /*launch*/
 #launchYS{
 	height:8.75em;
 	background:$blueBack;
 	color:$whiteBack;
 	padding-top:2.5em;

 	.launchYStext{

 		i{
 			font-size:3em;
 			margin-right:1.25em;
 		}
 		h2{
 			font-size:45px;
 		}

 	}
 	.launchYStbtn{
 		   a{
 			width:185px;
 			height:3.125em;
 			color:$whiteBack;
 			border-radius:3px;
 			text-align:center;
 			padding-top:10%;
 			text-decoration:none;
 			border:1px solid $whiteBack;

 			&:hover{
 				background:$whiteBack;
 				color:$blueBack;
 			}
 		}
 	}
 }
/*footer*/
#footer{
	padding-top:4.6875em;
	color:$whiteBack;
	i{
		color:$blueBack;
		padding-right: 10px;
	}

	.ltext{
		img{
			margin-bottom: 1.25em;
		}
		p{
		    font-size: 0.9375em;
    		line-height: 1.6;
		    margin: 0 0 0.625em;
		    text-align:left;
		}
	}
	.socialN{
		h3{
		    margin-bottom: 1.5625em;
		    font-weight: 500;
		}
		ul{
			li{
				padding-bottom:1.25em;
				a{
					i{
						font-size:3.5em;

					}
				}
			}
		}
	}
	.ourC{
		text-align:left;
		h3{
	     margin-bottom: 1.5625em;
	     font-size:1.25em;
   		 font-weight: 500;
   		 text-align:center;
   		}
   		ul{
   			li{
   				margin-bottom: 0.9375em ;
   				margin-right:0.625em;
			    padding-left: 1.185em;
			    font-size: 0.9375em ;
			    line-height: 1.6;
   			}
   		}
    
	}
	p{
		font-size: 14px;
	    font-weight: 300;
	    text-align: center;
	    color: #ffffff;
	    opacity: 0.5;
	}
	
}
.footBoss{
	padding-bottom:65px;
}